.slider {

   &__content {
         
   }

   &__title {      		
      text-align: start;
      font-size: 3rem;
      line-height: 3rem;
   }

   &__text {
      width: 70%;
      text-align: start;
      font-size: 1.5rem;
      line-height: 2rem;
      p{
         text-align: start;
      }
   }

   &__button {
      margin: 5% 0;
      background-color: rgba(0, 0, 0, 0.4);
   }

   &__link {
      color: white;
      &:hover{
         text-decoration: none;
         text-shadow: 1px 1px 1px #fff;
         color: white;
      }
   }
}



